html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

a {
    color: inherit;
    text-decoration: none;
}

img {
    max-width: 100%;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

p,
h1,
h2,
h3,
h4 {
    margin: 0;
}

button {
    border: none;
    font-family: inherit;
    cursor: pointer;
}

body {
    font-family: "Geologica", sans-serif;
    position: relative;
    background-color: var(--grey);
}

:root {
    --black: #1D1D1B;
    --grey: #E9E9E8;
    --green: #198F76;
    --pink: #C15191;
    --rose: #C495C4;
    --light-blue: #799FCC;
}

.container {
    max-width: 1410px;
    margin: 0 auto;
}

.subtitle {
    font-size: 50px;
    font-weight: 900;
    line-height: 62.5px;
    text-transform: uppercase;
}

.header {
    position: sticky;
    top: 0;
    background-color: var(--grey);
    z-index: 10;
}

.header-container {
    display: flex;
    padding: 30px 70px;
    align-items: center;
    height: 130px;
}

.header-nav {
    margin-right: 89px;
    margin-left: auto;
}

.header-nav-list {
    display: flex;
    gap: 95px;
}

.header-nav-link {
    font-size: 20px;
    font-weight: 500;
    line-height: 23px;
}

.contacts {
    display: flex;
    gap: 18px;
}

.contacts-item {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.hero {
    padding: 48px 55px 100px;
    background-image: url('../img/hero-diving.png');
    background-position: right 55px bottom 130px;
    background-repeat: no-repeat;
}

.hero-container {
    width: 745px;
    padding-top: 112px;
    padding-bottom: 156px;
}

.hero-title {
    margin-bottom: 38px;
    font-size: 60px;
    font-weight: 900;
    line-height: 80px;
    text-transform: uppercase;
}

.hero-text {
    margin-bottom: 48px;
    color: var(--black);
    font-size: 20px;
    font-weight: 400;
    line-height: 23px;
    letter-spacing: 0.2px;
}

.hero-title--color-pink {
    color: var(--pink);
}

.hero-btn {
    padding: 11px 32px 11px 32px;
    border-radius: 30px;
    color: var(--grey);
    background-color: var(--green);
    font-size: 20px;
    font-weight: 500;
    line-height: 23px;
}

.about-project-container {
    padding: 30px 55px 100px;
}

.about-project-inner-container {
    display: flex;
}

.about-project-subtitle {
    margin-bottom: 60px;
    color: var(--black);
}

.about-project-left {
    margin-right: 147px;
}

.about-project-left-card {
    max-width: 500px;
    min-height: 114px;
    padding: 27px 40px;
    border-radius: 30px;
    background-color: var(--pink);
    color: var(--grey);
    font-size: 24px;
    font-weight: 400;
    line-height: 30px;
}