html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

a {
    color: inherit;
    text-decoration: none;
}

img {
    max-width: 100%;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

p,
h1,
h2,
h3,
h4 {
    margin: 0;
}

button {
    border: none;
    font-family: inherit;
    cursor: pointer;
}

body {
    font-family: "Geologica", sans-serif;
    position: relative;
    background-color: var(--grey);
}

:root {
    --black: #1D1D1B;
    --grey: #E9E9E8;
    --green: #198F76;
    --pink: #C15191;
    --rose: #C495C4;
    --light-blue: #799FCC;
}

.container {
    max-width: 1410px;
    margin: 0 auto;
}

.subtitle {
    font-size: 50px;
    font-weight: 900;
    line-height: 62.5px;
    text-transform: uppercase;
}

.header {
    position: sticky;
    top: 0;
    background-color: var(--grey);
    z-index: 10;
}

.header-container {
    display: flex;
    padding: 30px 70px;
    align-items: center;
    height: 130px;
}

.header-nav {
    margin-right: 89px;
    margin-left: auto;
}

.header-nav-list {
    display: flex;
    gap: 95px;
}

.header-nav-link {
    font-size: 20px;
    font-weight: 500;
    line-height: 23px;
    color: var(--black);
    transition: color 0.3s ease-in-out;
}

.header-nav-link:hover {
    color: #136856;
}

.header-nav-link:active {
    color: #136856;
}

.contacts {
    display: flex;
    gap: 18px;
}

.contacts-item {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.contacts-item circle {
    fill: var(--green);
    transition: fill 0.3s ease-in-out;
}

.contacts-item:hover circle {
    fill: #01A582;
}

.contacts-item:active circle {
    fill: #136856;
}

.hero {
    padding: 48px 55px 100px;
    background-image: url('../img/hero-diving.png');
    background-position: right 55px bottom 130px;
    background-repeat: no-repeat;
}

.hero-container {
    width: 745px;
    padding-top: 112px;
    padding-bottom: 156px;
}

.hero-title {
    margin-bottom: 38px;
    font-size: 60px;
    font-weight: 900;
    line-height: 80px;
    text-transform: uppercase;
}

.hero-text {
    margin-bottom: 48px;
    color: var(--black);
    font-size: 20px;
    font-weight: 400;
    line-height: 23px;
    letter-spacing: 0.2px;
}

.hero-title--color-pink {
    color: var(--pink);
}

.hero-btn {
    padding: 11px 32px;
    border-radius: 30px;
    color: var(--grey);
    background-color: var(--green);
    font-size: 20px;
    font-weight: 500;
    line-height: 23px;
    transition: background-color 0.3s ease-in-out;
}

.hero-btn:hover {
    background-color: #01A582;
}

.hero-btn:active {
    background-color: #136856;
}

.about-project-container {
    padding: 30px 55px 100px;
}

.about-project-inner-container {
    display: flex;
}

.about-project-subtitle {
    margin-bottom: 60px;
    color: var(--black);
}

.about-project-left {
    margin-right: 147px;
}

.about-project-left-card {
    max-width: 500px;
    min-height: 114px;
    padding: 27px 40px;
    border-radius: 30px;
    background-color: var(--pink);
    color: var(--grey);
    font-size: 24px;
    font-weight: 400;
    line-height: 30px;
}

.about-project-left-arrow {
    text-align: center;
    line-height: 0;
}

.about-project-right {
    max-width: 663px;
    padding-top: 20px;
}

.about-project-right-subtitle {
    margin-bottom: 23px;
    font-size: 30px;
    font-weight: 600;
    line-height: 37.5px;
    color: var(--black);
    text-transform: uppercase;
}

.about-project-right-descr {
    font-size: 20px;
    font-weight: 400;
    line-height: 23px;
}

.about-project-right-descr:not(:last-child) {
    margin-bottom: 23px;
}

.about-project-2 {
    padding-top: 15px;
    padding-bottom: 15px;
}

.about-project-2-container {
    padding: 60px 55px 100px;
    border-radius: 30px;
    background-color: var(--green);
}

.about-project-2-subtitle {
    max-width: 1050px;
    margin-bottom: 63px;
    font-size: 30px;
    font-weight: 600;
    line-height: 37.5px;
    color: var(--grey);
    text-transform: uppercase;
}

.about-project-2-inner-container {
    display: flex;
}

.about-project-2-left {
    max-width: 740px;
    margin-right: 40px;
    padding: 58px 38px;
    background-color: var(--rose);
    border-radius: 30px;
}

.about-project-2-left-text {
    font-size: 20px;
    font-weight: 400;
    line-height: 23px;
    color: var(--black);
}

.about-project-2-left-text:not(:last-child) {
    margin-bottom: 23px;
}

.about-project-2-right-text {
    padding: 29px 39px;
    border-radius: 30px;
    background-color: var(--rose);
    font-size: 24px;
    font-weight: 400;
    line-height: 30px;
    color: var(--black);
    text-align: center;
    vertical-align: middle;
}

.about-project-2-right-text:not(:last-child) {
    margin-bottom: 39px;
}

.skills-container {
    padding: 63px 55px 171px;
}

.skills-subtitle {
    color: var(--pink);
    margin-bottom: 60px;
}

.skills-list {
    display: flex;
    justify-content: center;
    gap: 34px;
}

.skills-item {
    width: 300px;
    padding-top: 129px;
    display: flex;
    flex-direction: column;
    align-content: center;
    background-repeat: no-repeat;
    background-position: top 20px left 105px;
}

.skills-item-1 {
    background-image: url('../img/diving-skills-1.svg');
}

.skills-item-2 {
    background-image: url('../img/diving-skills-2.svg');
}

.skills-item-3 {
    background-image: url('../img/diving-skills-3.svg');
}

.skills-item-4 {
    background-image: url('../img/diving-skills-4.svg');
}

.skills-list-subtitle {
    margin: 0 auto;
    margin-bottom: 17px;
    font-size: 20px;
    font-weight: 600;
    line-height: 23px;
    color: var(--black);
}

.skills-list-descr {
    font-size: 18px;
    font-weight: 400;
    line-height: 23px;
    text-align: center;
    color: var(--black);
}

.realization {
    padding-bottom: 15px;
}

.realization-container {
    padding: 60px 55px 100px;
    border-radius: 30px;
    background-color: var(--light-blue);
}

.realization-subtitle {
    color: var(--grey);
    margin-bottom: 60px;
}

.realization-wrap {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 32px;
}

.realization-card {
    position: relative;
    width: 412px;
    height: 550px;
    background-color: var(--rose);
    border-radius: 30px;
}

.relization-name {
    position: absolute;
    top: 438px;
    left: 48px;
    font-size: 22px;
    font-weight: 600;
    line-height: 23px;
    color: var(--grey);
}

.realization-role {
    position: absolute;
    top: 478px;
    left: 48px;
    font-size: 16px;
    font-weight: 400;
    line-height: 23px;
    color: var(--grey);
}