html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

a {
    color: inherit;
    text-decoration: none;
}

img {
    max-width: 100%;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

p,
h1,
h2,
h3,
h4 {
    margin: 0;
}

button {
    border: none;
    font-family: inherit;
    cursor: pointer;
}

body {
    font-family: "Geologica", sans-serif;
    position: relative;
    background-color: var(--grey);
}

:root {
    --black: #1D1D1B;
    --grey: #E9E9E8;
    --green: #198F76;
    --pink: #C15191;
    --rose: #C495C4;
    --light-blue: #799FCC;
}

.container {
    max-width: 1410px;
    margin: 0 auto;
}

.subtitle {
    font-size: 50px;
    font-weight: 900;
    line-height: 62.5px;
    text-transform: uppercase;
}

.header {
    position: sticky;
    top: 0;
    background-color: var(--grey);
    z-index: 10;
}

.header-container {
    display: flex;
    padding: 30px 70px;
    align-items: center;
    height: 130px;
}

.header-nav {
    margin-right: 89px;
    margin-left: auto;
}

.header-nav-list {
    display: flex;
    gap: 95px;
}

.header-nav-link {
    font-size: 20px;
    font-weight: 500;
    line-height: 23px;
}

.contacts {
    display: flex;
    gap: 18px;
}

.contacts-item {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.hero {
    padding: 48px 55px 70px;
    background-image: url('../img/hero-index.svg');
    background-position: right 55px bottom 70px;
    background-repeat: no-repeat;
}

.hero-container {
    width: 745px;
    padding-top: 112px;
    padding-bottom: 156px;
}

.hero-title {
    margin-bottom: 38px;
    font-size: 60px;
    font-weight: 900;
    line-height: 80px;
    text-transform: uppercase;
}

.hero-text {
    margin-bottom: 48px;
    color: var(--black);
    font-size: 20px;
    font-weight: 400;
    line-height: 23px;
    letter-spacing: 0.2px;
}

.hero-title--color-pink {
    color: var(--pink);
}

.hero-btn {
    padding: 11px 32px 11px 32px;
    border-radius: 30px;
    color: var(--grey);
    background-color: var(--green);
    font-size: 20px;
    font-weight: 500;
    line-height: 23px;
}

.about-lab {
    padding-bottom: 28px;
}

.about-lab-container {
    padding: 60px 55px 195px;
}

.about-lab-subtitle {
    color: var(--grey);
    margin-bottom: 82px;
}

.about-lab-container {
    background-image: url('../img/block-2.svg');
    background-repeat: no-repeat;
    border-radius: 30px;
    margin-bottom: 147px;
}

.about-lab-cards-container {
    display: flex;
    gap: 32px;
}

.about-lab-card {
    padding: 41px 30px;
    height: 200px;
    font-size: 18px;
    font-weight: 400;
    line-height: 23px;
    color: var(--black);
    background-color: var(--grey);
    border-radius: 30px;
    flex-basis: 33%;
}

.about-lab-card li {
    list-style: disc inside;
}

.about-lab-description-big {
    margin-left: 110px;
    margin-right: 176px;
    margin-bottom: 50px;
    max-width: 1154px;
    color: var(--pink);
    font-size: 48px;
    font-weight: 600;
    line-height: 55px;
    text-align: center;
}

.about-lab-description-big--rectangle {
    vertical-align: -11%;
    margin-left: 10px;
}

.about-lab-description-big--semicircle {
    vertical-align: -19%;
    margin-left: -10px;
    margin-right: -10px;
}

.about-lab-description-big--circle {
    vertical-align: -4.5%;
    margin-left: -10px;
    margin-right: -10px;
}

.about-lab-description-small {
    margin-left: 307px;
    max-width: 720px;
    color: var(--black);
    font-size: 24px;
    font-weight: 400;
    line-height: 31px;
    text-align: center;
}

.projects {
    padding-top: 131px;
}

.projects-container {
    background-color: var(--light-blue);
    border-radius: 30px;
    padding: 60px 55px 100px;
}

.projects-subtitle {
    margin-bottom: 47px;
    color: var(--grey);
}

.projects-cards-container {
    display: flex;
    gap: 32px;

}

.project-card {
    position: relative;
    padding-top: 415px;
    padding-left: 47px;
    padding-right: 47px;
    height: 650px;
    flex-basis: 33%;
    z-index: 0;
}

.project-card--2 {
    padding-right: 28px;
}

.project-card--2 .project-card-description {
    max-width: 315px;
}

.project-card--1 {
    background-image: url('../img/project-1.png');
}

.project-card--2 {
    background-image: url('../img/project-2.png');
}

.project-card--3 {
    background-image: url('../img/project-3.png');
}

.project-card-subtitle {
    margin-bottom: 25px;
    font-size: 22px;
    font-weight: 600;
    line-height: 23px;
    color: var(--grey);
}

.project-card-description {
    font-size: 16px;
    font-weight: 400;
    line-height: 23px;
    color: var(--grey);
}

.project-card-link {
    position: absolute;
    top: 30px;
    right: 30px;
}

.team-container {
    padding-top: 73px;
    padding-bottom: 130px;
}

.team-subtitle {
    color: var(--pink);
    padding-left: 55px;
    margin-bottom: 60px;
}

.team-carousel-container {
    overflow: hidden;
    position: relative;
}

.team-carousel-slide-bar {
    display: flex;
    gap: 50px;
    position: relative;
     /* transform: translateX(-242px); */
     transition: transform 0.5s ease-in-out;
}

.team-carousel-card {
    padding: 51px 61px 51px 51px;
    background-color: var(--pink);
    border-radius: 30px;
    display: grid;
    grid-template-areas:
        "photo . name"
        "photo . role";
    grid-template-columns: 188px 44px 254px;
    grid-template-rows: 69px 119px;
}

.team-carousel-photo {
    grid-area: photo;
}

.team-carousel-name {
    grid-area: name;
    padding-top: 26px;
    color: var(--grey);
    font-size: 20px;
    font-weight: 600;
    line-height: 25px;
    text-transform: uppercase;
}

.team-carousel-role {
    grid-area: role;
    color: var(--grey);
    font-size: 16px;
    font-weight: 400;
    line-height: 23px;
}

.team-carousel-btn {
    position: absolute;
    height: 26px;
    width: 26px;
    border-radius: 50%;
}

.team-carousel-btn-left {
    top: 130px;
    left: 362px;
}

.team-carousel-btn-right {
    top: 130px;
    left: 1010px;
}

.footer {
    padding-top: 15px;
    padding-bottom: 15px;
}

.footer-container {
    display: flex;
    border-radius: 30px;
    background-image: url('../img/footer.svg');
    background-repeat: no-repeat;
    padding: 86px 127px 89px 55px;
}

.footer-nav {
    margin-left: auto;
    margin-right: 196px;
    padding-top: 5px;
}

.footer-nav-item {
    font-size: 18px;
    font-weight: 400;
    line-height: 23px;
    color: var(--black)
}

.footer-nav-item:not(:last-child) {
    margin-bottom: 21px;
}

.footer-contacts-subtitle {
    margin-bottom: 20px;
    padding-top: 4px;
    font-size: 20px;
    font-weight: 600;
    line-height: 25px;
    text-align: left;
    color: var(--black);
    text-transform: uppercase;
}

.footer-contacts-item {
    font-size: 18px;
    font-weight: 400;
    line-height: 23px;
    color: var(--black);
}

.footer-contacts-item:not(:last-child) {
    margin-bottom: 21px;
}

.footer-contacts {
    padding-top: 13px;
}