html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

a {
    color: inherit;
    text-decoration: none;
}

img {
    max-width: 100%;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

p,
h1,
h2,
h3,
h4 {
    margin: 0;
}

button {
    border: none;
    font-family: inherit;
    cursor: pointer;
}

body {
    font-family: "Geologica", sans-serif;
    position: relative;
    background-color: var(--grey);
}

:root {
    --black: #1D1D1B;
    --grey: #E9E9E8;
    --green: #198F76;
    --pink: #C15191;
    --rose: #C495C4;
    --light-blue: #799FCC;
}

.container {
    max-width: 1410px;
    margin: 0 auto;
}

.subtitle {
    font-size: 50px;
    font-weight: 900;
    line-height: 62.5px;
    text-transform: uppercase;
}

.header {
    position: sticky;
    top: 0;
    background-color: var(--grey);
    z-index: 10;
}

.header-container {
    display: flex;
    padding: 30px 70px;
    align-items: center;
    height: 130px;
}

.header-nav {
    margin-right: 89px;
    margin-left: auto;
}

.header-nav-list {
    display: flex;
    gap: 95px;
}

.header-nav-link {
    font-size: 20px;
    font-weight: 500;
    line-height: 23px;
}

.contacts {
    display: flex;
    gap: 18px;
}

.contacts-item {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.hero {
    padding: 48px 55px 70px;
    margin-bottom: 61px;
    background-image: url('../img/hero-naive.png');
    background-position: right 55px bottom 70px;
    background-repeat: no-repeat;
}

.hero-container {
    width: 745px;
    padding-top: 112px;
    padding-bottom: 156px;
}

.hero-title {
    margin-bottom: 38px;
    font-size: 60px;
    font-weight: 900;
    line-height: 80px;
    text-transform: uppercase;
}

.hero-text {
    margin-bottom: 48px;
    color: var(--black);
    font-size: 20px;
    font-weight: 400;
    line-height: 23px;
    letter-spacing: 0.2px;
}

.hero-btn {
    padding: 11px 32px;
    border-radius: 30px;
    color: var(--grey);
    background-color: var(--green);
    font-size: 20px;
    font-weight: 500;
    line-height: 23px;
}

.about-project-container {
    padding-left: 25px;
    padding-right: 25px;
}

.about-project-subtitle {
    color: var(--black);
    margin-bottom: 25px;
    padding-left: 30px;
}

.about-project-wrap {
    background-color: var(--rose);
    border-radius: 30px;
    display: flex;
    padding: 35px;
    margin-bottom: 114px;
}

.about-project-inner-wrapper {
    margin-left: 104px;
    padding-top: 35px;
}

.about-project-descr-big {
    margin-bottom: 20px;
    font-size: 30px;
    font-weight: 600;
    line-height: 37.5px;
    color: var(--black);
    text-transform: uppercase;
}

.about-project-descr-small {
    font-size: 20px;
    font-weight: 400;
    line-height: 23px;
    color: var(--black);
}

.about-project-descr-small:not(:last-child) {
    margin-bottom: 24px;
}

.about-project-2-container {
    padding: 60px 135px 100px 55px;
    background-color: var(--green);
    background-image: url('../img/naive-question-decorative-element.svg');
    background-repeat: no-repeat;
    background-position: bottom 70px right 55px;
    border-radius: 30px;
}

.about-project-2-descr-big {
    margin-bottom: 60px;
    color: var(--grey);
    font-size: 48px;
    font-weight: 600;
    line-height: 60px;
}

.about-project-2-descr-small {
    max-width: 890px;
    color: var(--grey);
    font-size: 18px;
    font-weight: 400;
    line-height: 23px;
}

.skills-container {
    padding: 76px 55px 156px;
}

.skills-subtitle {
    color: var(--pink);
    margin-bottom: 60px;
}

.skills-list {
    display: flex;
    justify-content: center;
    gap: 55px;
}

.skills-item {
    width: 300px;
    padding-top: 129px;
    display: flex;
    flex-direction: column;
    align-content: center;
}

.skills-list-subtitle {
    margin: 0 auto;
    margin-bottom: 17px;
    font-size: 20px;
    font-weight: 600;
    line-height: 23px;
    color: var(--black);
}

.skills-list-descr {
    font-size: 18px;
    font-weight: 400;
    line-height: 23px;
    text-align: center;
    color: var(--black);
}

.realization {
    padding-top: 15px;
    padding-bottom: 15px;
}

.realization-container {
    padding: 60px 55px 100px;
    border-radius: 30px;
    background-color: var(--light-blue);
}

.realization-subtitle {
    color: var(--grey);
    margin-bottom: 60px;
}

.realization-wrap {
    display: flex;
    justify-content: center;
    gap: 32px;
}

.realization-card {
    width: 412px;
    height: 550px;
    border-radius: 30px;
    position: relative;
}

.relization-name {
    position: absolute;
    bottom: 88px;
    left: 48px;
    font-size: 22px;
    font-weight: 600;
    line-height: 23px;
    color: var(--grey);
}

.realization-role {
    position: absolute;
    bottom: 48px;
    left: 48px;
    font-size: 16px;
    font-weight: 400;
    line-height: 23px;
    color: var(--grey);
}